<%- include("header")-%>
    <div class = "box" id ="heading">
     <h1> Hi Fred: <%= listTitle %></h1>
    </div> 
    <div class = "box2" id ="heading">
        <h1>Whats on the list for today?</h1>
       </div> 


    <div class = "box" id ="">
      <% for (var i=0; i<newListItems.length; i++) { %>
    <div class = "item">
        <input type = "checkbox" name ="">
        <p> <%= newListItems[i] %> <p>
    </div>
    
    <% } %>
    <form class = ""action="/" method ="POST">
        <input type="text" class = "inputFieldText" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name ="list" value =<%= listTitle %>>+</button>
        </form>
    </div>
    


    <%- include("footer")-%>